body main .descripcion {
  font-size: 30px;
  padding: 20px;
  color: white; }

body {
  background-color: #2b2929; }
  body header .logo {
    width: 100vw; }
  body header .nombre {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    margin-top: 150px;
    color: black;
    position: absolute;
    font-weight: 800; }
  body header .navbar {
    background-color: #eed6c4;
    padding: 1rem;
    font-size: 2rem; }
    body header .navbar .dropdown-menu {
      background-color: #eed6c4;
      padding: 0.1rem;
      font-size: 2rem; }
  body main .titulo {
    text-align: center;
    padding: 60px;
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
    color: white; }
  body main .descripcion {
    text-align: center; }
  body main .carousel-item {
    margin-top: 50px;
    height: 900px;
    width: 1900px; }
  body main .padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body main .padre .caja {
      background-image: linear-gradient(to left, #794343, #575050);
      height: 50vh;
      width: 40vw;
      margin: 50px;
      padding: 60px 100px 100px;
      border-radius: 10px;
      border: 3px solid black;
      font-size: 25px;
      text-align: center; }
    body main .padre .nosotrosfoto {
      text-align: center;
      width: 100vw; }
  body main .madre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body main .madre .hijo {
      height: 450px;
      width: 600px;
      margin: 10px;
      justify-content: center; }
      body main .madre .hijo .hijo:hover {
        transform: scale(1.2); }
  body main .madre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body main .madre .card {
      margin: 50px;
      font-size: 25px;
      text-align: center;
      justify-content: center;
      background-color: #eed6c4; }
      body main .madre .card .list-group-item {
        background-color: #eed6c4; }
  body main .formulario {
    background-image: linear-gradient(to left, #794343, #575050);
    height: 300px;
    width: 2000px;
    padding: 50px 100px 100px;
    text-align: center;
    justify-items: center; }
  body footer {
    text-align: right;
    color: black;
    background-color: #483434;
    margin-top: 2rem; }

@media screen and (max-width: 480px) {
  body .nombre {
    font-size: 10px;
    margin-top: 2px; }
  body .padre .caja {
    height: 80vh;
    width: 20vw; }
  body .formulario {
    font-size: 10px; } }

@media screen and (min-width: 481px) {
  body .padre .caja {
    height: 80vh;
    width: 20vw; }
  body .formulario {
    font-size: 15px;
    padding: 40px; } }
