body main .descripcion {
  font-size: 30px;
  padding: 20px;
  color: black; }

body {
  background-color: #778899; }
  body header .logo {
    background-image: 100vw;
    width: 100vw; }
  body header .nombre {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    margin-top: 150px;
    color: black;
    position: absolute;
    font-weight: 800; }
  body header .navbar {
    background-color: #2F4F4F;
    padding: 1rem;
    font-size: 2rem; }
    body header .navbar .dropdown-menu {
      background-color: #2F4F4F;
      padding: 0.1rem;
      font-size: 2rem; }
  body main .titulo {
    text-align: center;
    padding: 60px;
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
    color: black; }
  body main .descripcion {
    text-align: center; }
  body main .carousel-item {
    margin-top: 50px;
    width: 100vw; }
  body main .padre {
    display: flex;
    justify-content: center; }
    body main .padre .sobremi {
      color: black;
      text-align: center; }
    body main .padre .caja {
      background-image: linear-gradient(to left, #fcfcfc, #636363);
      height: 60vh;
      width: 80vw;
      padding: 60px 100px 100px;
      border-radius: 1px;
      font-size: 25px;
      text-align: center; }
    body main .padre .nosotrosfoto {
      text-align: center;
      width: 50vw;
      height: 60vh; }
  body main .madre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body main .madre .hijo {
      height: 450px;
      width: 600px;
      margin: 10px;
      justify-content: center; }
      body main .madre .hijo .hijo:hover {
        transform: scale(1.2); }
  body main .madre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body main .madre .card {
      margin: 50px;
      margin-top: 80px;
      font-size: 25px;
      text-align: center;
      justify-content: center;
      background-color: #2F4F4F;
      width: 900px; }
      body main .madre .card .list-group-item {
        background-color: #2F4F4F; }
  body main .formulario {
    background-image: linear-gradient(to top, #fcfcfc, #636363);
    height: 300px;
    width: 2000px;
    padding: 50px 100px 100px;
    text-align: center;
    justify-items: center; }
  body main .imagencontacto {
    width: 100vw; }
  body main .cocinabyn {
    width: 100vw;
    height: 80vh; }
  body .iconos {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    background-color: #2F4F4F; }
    body .iconos .icono {
      text-align: center;
      height: 4vh;
      width: 2vw;
      margin: 10px; }
  body footer {
    text-align: right;
    color: white;
    background-color: black;
    margin-top: 2rem;
    text-decoration: none; }
    body footer a {
      text-decoration: none;
      color: white; }

@media screen and (max-width: 480px) {
  body header .nombre {
    margin-top: 10px;
    font-size: 40px; }
  body main .madre .hijo {
    height: 300px;
    width: 300px;
    margin: 0px;
    margin-top: 10px;
    justify-content: center; }
  body main .padre .sobremi {
    font-size: 12px;
    text-align: center;
    margin-top: 19px; }
  body main .padre .caja {
    height: 50vh;
    width: 90vw;
    padding: 5px;
    border-radius: 1px;
    font-size: 10px;
    text-align: center; }
  body main .padre .nosotrosfoto {
    height: 50vh; }
  body main .cocinabyn {
    height: 30vh; }
  body main .formulario {
    font-size: 10px; } }

@media screen and (min-width: 481px) {
  body header .nombre {
    margin-top: 20px;
    font-size: 60px; }
  body main .madre .hijo {
    height: 350px;
    width: 400px;
    margin: 10px;
    justify-content: center; }
  body main .padre .sobremi {
    font-size: 16px;
    padding: 0px;
    text-align: center;
    margin-top: 10px; }
  body main .padre .caja {
    height: 50vh;
    width: 90vw;
    padding: 5px;
    border-radius: 1px;
    font-size: 10px;
    text-align: center; }
  body main .padre .nosotrosfoto {
    height: 50vh; }
  body main .cocinabyn {
    height: 30vh; }
  body .formulario {
    font-size: 15px; } }

@media screen and (min-width: 700px) {
  body header .nombre {
    margin-top: 50px;
    font-size: 100px; }
  body main .padre .sobremi {
    font-size: 21px;
    padding: 0px;
    text-align: center;
    margin-top: 20px; }
  body main .padre .caja {
    background-image: linear-gradient(to left, #fcfcfc, #636363);
    height: 60vh;
    width: 80vw;
    padding: 5px;
    border-radius: 1px;
    font-size: 25px;
    text-align: center; }
  body main .padre .nosotrosfoto {
    height: 60vh; } }

@media screen and (min-width: 1000px) {
  body header .nombre {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    margin-top: 100px;
    color: black;
    position: absolute;
    font-weight: 800; }
  body main .padre .sobremi {
    font-size: 25px;
    padding: 0px;
    text-align: center;
    margin-top: 90px; }
  body main .padre .caja {
    background-image: linear-gradient(to left, #fcfcfc, #636363);
    height: 60vh;
    width: 80vw;
    padding: 5px;
    border-radius: 1px;
    font-size: 25px;
    text-align: center; }
  body main .cocinabyn {
    height: 70vh; } }
