
.logo{
    height: 100%;

}
.nombre{
text-align: center;
font-family: 'Dancing Script', cursive;
font-size: 100px;
margin-top: 200px;
color: black;
position: absolute;
}

body{
    background-color: rgb(43, 41, 41);
}

.video{
    width:1500px;
    height: 600px;
    padding: 200px;
}

footer{
    text-align: right;
    color: black;
    background-color: rgb(72, 52, 52);
    margin-top: 2rem;
}
.postre{
    text-decoration: none;
    color: black;
}

.platop{
    text-decoration: none;
    color: black;
}


.contacto{
    text-decoration: none;
    color: black;
}


.galeria{
    text-decoration: none;
    color: black;
}

.nosotros{
    text-decoration: none;
    color: black;
}

.entr{
    text-decoration: none;
    color: black;
}

.titulo{
    text-align: center;
    padding: 20px;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    color: white;

}

.index{
    text-decoration: none;
    color: black; 
}
 .descripcion{
     padding: 15px;
     font-size: 30px;
     text-align: center;
 }

.segundo{
    padding: 15px;
     font-size: 30px;
     text-align: center;

}

.catering{
    padding: 30px;
    width: 900px;
    height: 600px;
}

.cater{
    margin-left: auto; 

    margin-right: auto;
}

.madre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
 .card{
    margin: 50px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    background-color: rgb(238, 214, 196);
 }
 .list-group-item{
    background-color: rgb(238, 214, 196);
 }

 .formulario{
    background-color: rgb(126, 69, 69);
    width: 1500px;
    height: 400px;
    margin: 200px;
    padding: 100px 100px 100px;
    text-align: center;
 }



.galeria{

        padding: 15px;
        font-size: 30px;
        text-align: center;
        
}

.intro{
    padding: 15px;
    font-size: 30px;
    text-align: center;
}

.imagen{
    padding: 10px;
    margin: 5px;
    margin-top: 50px ;
    width: 1850px;
    height: 800px;
}

.madre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.hijo {
    width: 400px;
    height: 450px;
    margin: 10px;
    justify-content: center;
}
.hijo:hover {
    transform:scale(1.2);
  
}
.navbar{
    background-color:  rgb(238, 214, 196);
    padding: 1rem;
    font-size: 2rem;
}

.dropdown-menu{
    background-color:  rgb(238, 214, 196);
    padding: 0.1rem;
    font-size: 2rem;
   
}

p{
    color: black;
}
.carousel-item{
    height:900px;
    width: 1900px;
}

.cajita{
    background-image:linear-gradient( to left,rgb(121, 67, 67),rgb(87, 80, 80));
    width: 1000px;
    height: 700px;
    margin: 50px;
    padding: 60px 100px 100px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}




@media (max-width: 480px) {
    .op1{
        background-image:linear-gradient(rgb(212, 194, 194),rgb(92, 22, 22));
        width: 300px;
        height: 500px;
        margin: 50px;
        padding: 60px 100px 100px;
        border-radius: 10px;
        border: 8px solid black;
        font-size: 25px;
        text-align: center;
     }
    
     .op2{
        background-image:linear-gradient( rgb(212, 194, 194),rgb(92, 22, 22));
        width: 300px;
        height: 500px;
        margin: 50px;
        padding: 60px 100px 100px;
        border-radius: 10px;
        border: 8px solid black;
        font-size: 23px;
        text-align: center;
     }
     
     .op3{
        background-image:linear-gradient(rgb(212, 194, 194),rgb(92, 22, 22));
        width: 300px;
        height: 500px;
        margin: 50px;
        padding: 60px 100px 100px;
        border-radius: 10px;
        border: 8px solid black;
        font-size: 23px;
        text-align: center;
  
    }

    .madre{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    
    .hijo {
        width: 250px;
        height: 200px;
        margin: 10px;
        justify-content: center;
    }
    .hijo:hover {
        transform:scale(1.1);
      
    }
    .caja{
        background-image:linear-gradient( to left,rgb(121, 67, 67),rgb(87, 80, 80));
        width: 330px;
        height: 9500px;
        margin: 20px;
        padding: 60px 100px 100px;
        border-radius: 10px;
        border: 8px solid black;
        font-size: 25px;
        text-align: left;
    }

    .formulario{
        background-color: rgb(126, 69, 69);
        width: 340px;
        height: 600px;
        margin: 10px;
        padding: 100px 100px 100px;
        text-align: center;
        
     }

     .carousel-inner{
         height: 410px;
         width: 460px;
         margin: 10px;
         justify-content: center;
     }
}
