@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/extends";

body{
    background-color: $ColorFondo;

    header{
        .logo{
           background-image: 100vw;
        
        }
        .nombre{
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-size: 100px;
        margin-top: 150px;
        color: black;
        position: absolute;
        font-weight: 800;
        }
        .navbar{
            background-color: $ColorNav;
            padding: 1rem;
            font-size: 2rem;
        
        .dropdown-menu{
            background-color: $ColorNav;
            padding: 0.1rem;
            font-size: 2rem;
           
        }
    }
}
    main{
        .titulo{
            text-align: center;
            padding: 60px;
            font-size: 80px;
            font-family: 'Dancing Script', cursive;
            color: white;
        
        }
        .descripcion{
           @extend %descrip;
            text-align: center;
    
        }
        .carousel-item{
            margin-top: 50px;
         @include sizes(1900px,900px);
        }

        .padre{

            display:  flex;
            justify-content: center;

        .sobremi{
            color: white;
            text-align: center;
        }

        .caja{
                background-image:linear-gradient( to left,rgb(121, 67, 67),rgb(87, 80, 80));
              @include sizes(80vw,60vh);
                padding: 60px 100px 100px;
                border-radius: 1px;
                font-size: 25px;
                text-align: center;

            
            }
            .nosotrosfoto{
               text-align: center;
                width: 50vw;
            }
        }
        .madre{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        
        
        
        .hijo {
            @include sizes(600px,450px);
            margin: 10px;
            justify-content: center;
        
        .hijo:hover {
            transform:scale(1.2);
          
        }
    }
    }
    .madre{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    
     .card{
        margin: 50px;
        font-size: 25px;
        text-align: center;
        justify-content: center;
        background-color: $ColorNav;
     
     .list-group-item{
        background-color: $ColorNav;
     }
    }
}

    .formulario{
 background-image:linear-gradient( to left,rgb(121, 67, 67),rgb(87, 80, 80));
        @include sizes(2000px,300px);
        padding: 50px 100px 100px;
        text-align: center;
        justify-items: center;
     }

.imagencontacto{
    width: 100vw;
}
    }
    
        
        footer{
            text-align: right;
            color: black;
            background-color:$ColorFooter;
            margin-top: 2rem;
        }
    
}

@media screen and(max-width:480px){
    body{
       
.nombre{
    font-size: 10px;
    margin-top: 2px;
}

.padre{
    
      .sobremi{
          font-size: 15px;
          padding: 0px;
          text-align: right;

      }
    .caja{

      @include sizes(90vw,50vh);
        padding: 0px;
        border-radius: 1px;
        font-size: 10px;
        text-align: right;

    
    }
}
        .formulario{
            font-size: 10px;
        }
    }
}

@media screen and(min-width:481px){
    body{
        .padre{
.caja{
    @include sizes(20vw,80vh);
}
    }
    .formulario{
        font-size: 15px;
    }
}
}

