@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/extends";

body{
    background-color: #778899;

    header{
        .logo{
           background-image: 100vw;
           width:100vw;
           
        
        }
        .nombre{
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-size: 100px;
        margin-top: 150px;
        color: black;
        position: absolute;
        font-weight: 800;
        }
        .navbar{
            background-color:#2F4F4F;
            padding: 1rem;
            font-size: 2rem;
        
        .dropdown-menu{
            background-color: #2F4F4F;
            padding: 0.1rem;
            font-size: 2rem;
           
        }
    }
}
    main{
        .titulo{
            text-align: center;
            padding: 60px;
            font-size: 80px;
            font-family: 'Dancing Script', cursive;
            color: rgb(0, 0, 0);
        
        }
        .descripcion{
           @extend %descrip;
            text-align: center;
    
        }
        .carousel-item{
            margin-top: 50px;
         width:100vw;
        }

        .padre{

            display:  flex;
            justify-content: center;

        .sobremi{
            color: rgb(0, 0, 0);
            text-align: center;
        }

        .caja{
                background-image:linear-gradient( to left,rgb(161, 134, 165),rgb(87, 80, 80));
              @include sizes(80vw,60vh);
                padding: 60px 100px 100px;
                border-radius: 1px;
                font-size: 25px;
                text-align: center;

            
            }
            .nosotrosfoto{
               text-align: center;
                width: 50vw;
                height: 60vh;
            }
        }
        .madre{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        
        
        
        .hijo {
            @include sizes(600px,450px);
            margin: 10px;
            justify-content: center;
        
        .hijo:hover {
            transform:scale(1.2);
          
        }
    }
    }
    .madre{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    
     .card{
        margin: 50px;
     margin-top: 80px;
        font-size: 25px;
        text-align: center;
        justify-content: center;
        background-color: #2F4F4F;
        width: 900px;

     
     .list-group-item{
        background-color: $ColorNav;
     }
    }
}

    .formulario{
        background-image:linear-gradient( to top,#fcfcfc,rgb(99, 99, 99));
        @include sizes(2000px,300px);
        padding: 50px 100px 100px;
        text-align: center;
        justify-items: center;
     }

.imagencontacto{
    width: 100vw;
}

.cocinabyn{
    width: 100vw;
height: 80vh;
}

    }
    .iconos{
        text-align: center;
        font-size: 30px;
        margin-top: 200px;
        background-color: #2F4F4F;
        .icono{
           text-align: center;
           height: 4vh;
           width: 2vw;
           margin: 10px;
        }
       }
        
        footer{
            text-align: right;
            color: black;
            background-color:#778899;
            margin-top: 2rem;
            text-decoration: none;
        }
    
}

@media screen and(max-width:480px){
    body{
        header{
            .nombre{
        margin-top: 20px;
                font-size: 60px;
            }
        }
       main{

.nombre{
    font-size: 10px;
    margin-top: 2px;
}

.padre{
    
      .sobremi{
          font-size: 15px;
          padding: 0px;
          text-align: center;
          margin-top: 10px;

      }
    .caja{

      @include sizes(90vw,50vh);
        padding: 5px;
        border-radius: 1px;
        font-size: 10px;
        text-align: center;
       

    
    }
}
        .formulario{
            font-size: 10px;
        }
    }
}
}

@media screen and(min-width:481px){
    body{
        header{
            .nombre{
        margin-top: 20px;
                font-size: 60px;
            }
        }
        main{

        
        .padre{
    
            .sobremi{
                font-size: 16px;
                padding: 0px;
                text-align: center;
                margin-top: 10px;
      
            }
          .caja{
      
            @include sizes(90vw,50vh);
              padding: 5px;
              border-radius: 1px;
              font-size: 10px;
              text-align: center;
             
      
          
          }
      }
    }
    .formulario{
        font-size: 15px;
    }
}
}


@media screen and(min-width:700px){
    body{
        header{
            .nombre{
        margin-top: 50px;
                font-size: 100px;
            }
        }
        main{
            .padre{
                .sobremi{
                    font-size: 21px;
                    padding: 0px;
                    text-align: center;
                    margin-top: 20px;
          
                }
                .caja{
                    background-image:linear-gradient( to left,#fcfcfc,rgb(99, 99, 99));
                  @include sizes(80vw,60vh);
                    padding: 5px;
                    border-radius: 1px;
                    font-size: 25px;
                    text-align: center;
    
                
                }
            }
        }
    }
}


@media screen and(min-width:1000px){

    body{
        header{
        .nombre{
            text-align: center;
            font-family: 'Dancing Script', cursive;
            font-size: 100px;
            margin-top: 100px;
            color: black;
            position: absolute;
            font-weight: 800;
            }
        }
        main{
            .padre{
                .sobremi{
                    font-size: 25px;
                    padding: 0px;
                    text-align: center;
                    margin-top: 30px;
          
                }
                .caja{
                    background-image:linear-gradient( to left,#fcfcfc,rgb(99, 99, 99));
                  @include sizes(80vw,60vh);
                    padding: 5px;
                    border-radius: 1px;
                    font-size: 25px;
                    text-align: center;
    
                
                }
            }
        }
    }
}